h1 {
    text-align: center;
    color: blue
}

body {
    background-image: url("/images/pq30ix09.png");
}

.container {
    display: flex;
    justify-content: space-between;
    /* This will push the divs to the left and right */
    /*background-color: #f0f0f0;*/
    /*padding: 10px;*/
}

.btncon {
    margin-left: 25%;
    margin-top: 8%;
}

.right-div {
    /* width: 45%; */
    /* Adjust the width as needed */
    margin-right: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border-radius: 35%;
    background-image: url("images/tempback.jpg");
    text-align: center;
    color: white;
}

.left-div {
    /* width: 45%; */
    /* Adjust the width as needed */
    margin-left: 310px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border-radius: 35%;
    background-image: url("images/tempback.jpg");
    text-align: center;
    color: white;
}

.humimg img {
    width: 70px;
    height: 50px;
}

#pee {
    font-size: 30px;
    color: black;
}

#ptemp {
    font-size: 40px;
    color: black;
}